<mat-toolbar color="primary" class="sticky">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div fxLayout="row">
      <button mat-button>
        <img src="../../../assets/logo.png" alt="logo" width="100px" height="60px">
      </button>
    </div>
    <div>
      <button mat-raised-button color="accent" routerLink="/dashboard/loginadmin">
        <mat-icon>shield_person</mat-icon> Admin Portal
      </button>
    </div>
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<!--<mat-toolbar color="warn" class="sticky">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div fxLayout="row">
      <button mat-button>
        <img src="../../../assets/logo.png" alt="logo" width="100px" height="60px">
      </button>
    </div>
    <div>
      <button mat-raised-button color="primary" routerLink="/dashboard/loginadmin">
        <mat-icon>shield_person</mat-icon> Admin Portal
      </button>
    </div>
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>-->